<!-- <router-outlet /> -->
<div class="card flex justify-content-center" style="margin-top: 15px;">
  <p-stepper>
      <p-stepperPanel >
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                <app-personal-information [isShowPersonalInfo]="!isShowPersonalInfo"/>
              </div>
              <div class="flex pt-4 justify-content-end" style="padding-top: 25px;" >
                  <p-button *ngIf="!isShowPersonalInfo" 
                      label="Next" 
                      iconPos="right" 
                      (onClick)="showPersonalInfoUpload()" />

                      <p-button *ngIf="isShowPersonalInfo"
                      label="Register" 
                      iconPos="right" 
                      (onClick)="nextCallback.emit();scrollTop()" />
              </div>
             
          </ng-template>
      </p-stepperPanel> 
      <p-stepperPanel>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                  <app-banking-information/>
              </div>
              <div class="flex pt-4 justify-content-between" style="padding-top: 25px;">
                
                  <p-button 
                      label="Next" 
                      iconPos="right" 
                      (onClick)="nextCallback.emit();scrollTop()" />
              </div>
          </ng-template>
      </p-stepperPanel>
      <p-stepperPanel >
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                  <app-edit-public-profile/>
              </div>
              <div class="flex pt-4 justify-content-start" style="padding-top: 25px;">
                  <p-button 
                      label="Next" 
                      (onClick)="nextCallback.emit();scrollTop()" />
              </div>
          </ng-template>
      </p-stepperPanel>
     <p-stepperPanel >
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                  <app-verification/>
              </div>
              <div class="flex pt-4 justify-content-start" style="padding-top: 25px;">
                  <p-button 
                      label="Next " 
                      (onClick)="nextCallback.emit();scrollTop()" />
              </div>
          </ng-template>
      </p-stepperPanel>
      <p-stepperPanel >
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
              <div class="flex flex-column h-12rem">
                  <app-gig/>
              </div>
              <!-- <div class="flex pt-4 justify-content-start" style="padding-top: 25px;">
                  <p-button 
                      label="Back" 
                      (onClick)="prevCallback.emit()" />
              </div> -->
          </ng-template>
      </p-stepperPanel>
  </p-stepper>
</div>